<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/NewAndEditStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/Students:form=' + ${form_id}}">Назад</a>
        <a th:href="@{/Forms}">Список классов</a>
        <a href="/logout">Выйти</a>
    </div>
    <p>Добавление ученика</p>
</nav>

<div class="form-block">
    <form th:action="@{'/Forms/addStudent:form=' + ${form_id}}" th:method="POST" >
        <input type="text" name="surname" placeholder="Фамилия">
        <input type="text" name="name" placeholder="Имя">
        <input type="submit">
    </form>
</div>

</body>
</html>