<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addSubject</title>
    <link rel="stylesheet" href="/NewAndEditStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/form=' + ${form_id} + '/Subjects'}">Назад</a>
        <a th:href="@{/Forms}">Список классов</a>
        <a href="/logout">Выйти</a>
    </div>
    <p>Добавление предмета</p>
</nav>
<div class="form-block">
    <form th:method="post" th:action="@{'/Forms/addSubject:form=' + ${form_id}}">
        <input type="text" name="subject_name" placeholder="Название предмета">
        <input type="submit" value="Добавить">
    </form>
</div>
</body>
</html>