<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/NewAndEditStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/Students:form=' + ${form_id}}">Back</a>
        <a th:href="@{/Forms}">Home</a>
    </div>
    <p>Edit student</p>
</nav>
<div class="form-block">
    <form th:action="@{'/Forms/editStudent:form=' + ${form_id} + ':student=' + ${student_id} }" th:method="PATCH" >
        <input type="text" name="name" th:value="${student.getName()}" placeholder="name">
        <input type="text" name="surname" th:value="${student.getSurname()}" placeholder="surname">
        <input type="submit" value="edit">
    </form>
</div>

</body>
</html>