<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/EditMarkStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/Students:form=' + ${form_id}
+ '/Subjects:student=' +${mark.getStudent_id()} }">Назад</a>
        <a th:href="@{/Forms}">Список классов</a>
        <a href="/logout">Выйти</a>
    </div>
    <p th:text="${date}">Редактирование оценки</p>
</nav>

<div class="form-block">
    <form class="edit-form" th:action="@{'/Forms/editMark:form='
    + ${form_id} +
        ':subject=' + ${mark.getSubject_id()} + ':student='
         + ${mark.getStudent_id()} + ':mark=' + ${mark.getId()}}" th:method="PATCH" th:object="${mark}">
        <input type="text" name="mark_value" th:value="${mark.getMark_value()}"
               th:field="*{mark_value}" placeholder="Оценка">
        <input type="text" name="work_name" th:value="${mark.getWork_name()}"
               th:field="*{work_name}" placeholder="Название работы">
        <input type="submit" value="Изменить">
    </form>

    <form class="delete-form" th:action="@{'/Forms/deleteMark:form=' + ${form_id} +
        ':subject=' + ${mark.getSubject_id()} + ':student='
         + ${mark.getStudent_id()} + ':mark=' + ${mark.getId()}}" th:method="Delete" >
        <input type="submit" value="Удалить">
    </form>
</div>


</body>
</html>