<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/FormSubjectsListStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/Students:form=' + ${form_id}}">Назад</a>
        <a th:href="@{/Forms}">Список классов</a>
        <a th:href="@{'/Forms/addSubject:form=' + ${res.getForm_id()}}">Добавить предмет</a>
        <a href="/logout">Выйти</a>
    </div>
    <p>Список предметов</p>
</nav>

<p class="empty-message" th:if="${subjects_ids.empty}">
    Нет добавленных предметов
</p>
<div class="subjects-list">
    <div class="subject-card" th:each="subject_name : ${subjects_names}">
        <a class="form-link" th:text="${subject_name}">name</a>
        <form th:action="@{'/Forms/editSubject:form=' + ${res.getForm_id()} + ':subject='
     + ${subjects_ids.get(subjects_names.indexOf(subject_name))}}" th:method="GET">
            <input type="submit" value="Изменить">
        </form>
        <form th:action="@{'/Forms/deleteSubject:form=' + ${res.getForm_id()} + ':subject='
  + ${subjects_ids.get(subjects_names.indexOf(subject_name))}}" th:method="Delete">
            <input type="submit" value="Удалить">
        </form>
    </div>
</div>

</body>
</html>