<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/loginStyle.css">
</head>
<nav>
    <p>Авторизация</p>
</nav>
<div class="form-block">
    <form method="post" action="/process_login">
        <input type="text" name="username" placeholder="Логин">
        <input type="text" name="password" placeholder="Пароль">
        <div th:if="${param.error}" style="color: red">
            Неправильный логин или пароль
        </div>
        <input type="submit" value="Войти">
    </form>
</div>


<body>

</body>
</html>