<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/loginStyle.css">
  <nav>
    <div class="links">
      <a th:href="@{/auth}">Sign in</a>
    </div>
    <p>Sign up</p>
  </nav>
  <div class="form-block">
    <form th:method="post" th:action="@{/signUp}" th:object="${person}">
      <input type="text" name="username" th:field="*{login}" placeholder="username">
      <p th:if="${#fields.hasErrors('login')}" style="color: red">
        User with such login already exists !</p>
      <input type="text" name="password" th:field="*{password}" placeholder="password">
      <input type="submit" value="Sign up">
    </form>
  </div>


  </div>
</head>
<body>

</body>
</html>