<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="/StudentsListStyle.css">

</head>
<body>

<nav>
    <div class="links">
        <a th:href = "@{'/Forms'}">Back</a>
        <a th:href="@{'/Forms/addStudent:form=' + ${form_id} }">Add new Student</a>
        <a th:href="@{'/Forms/form=' + ${form_id} + '/Subjects'}">Subjects</a>
    </div>
    <p>Students</p>
</nav>
<p class="empty-message"th:if="${students.empty}">
     No students added
</p>
<div class="students-list">
    <div class="student-card" th:each="student : ${students}">
        <a th:href="@{'/Forms/Students:form=' + ${student.getForm_id()}
        +'/Subjects:student=' + ${student.getId()} }" th:text="${student.getSurname()}
        + ' ' + ${student.getName()}"> Title </a>
        <form th:action="@{'/Forms/editStudent:form=' + ${student.getForm_id()} + ':student=' + ${student.getId()}}" th:method="GET">
            <input class="edit-button" type="submit" value="Edit">
        </form>
        <form th:action="@{'/Forms/deleteStudent:form=' + ${student.getForm_id()} + ':student=' + ${student.getId()}}" th:method="Delete">
            <input class="delete-button" type="submit" value="Delete">
        </form>
    </div>
</div>
</body>
</html>