<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link rel="stylesheet" href="/SubjectsAndMarksStyle.css">
</head>
<body>
<nav>
    <div class="links">
        <a th:href="@{'/Forms/Students:form=' + ${form_id}}">
            Назад</a>
        <a th:href="@{/Forms}">
            Список классов</a>
        <a href="/logout">Выйти</a>
    </div>
    <p th:text="${auth}"></p>
    <p th:text = "${subjectsAndMarks.getStudentName()} +
    ' ' + ${subjectsAndMarks.getStudentSurname()}">name
    </p>
</nav>

<p class="empty-message" th:if="${subjectsAndMarks.getSubjectsList().isEmpty()}">
    Нет добавленных предметов
</p>

<table th:if="${!subjectsAndMarks.getSubjectsList().isEmpty()}">
    <tr>
        <th>Предметы</th>
        <th>Оценки</th>
    </tr>
    <tr class = "subject-row" th:each="subject :
    ${subjectsAndMarks.getSubjectsList()}">
        <td class = "subject_name">
                <span th:text="${subject.getName()}"></span>
                <span>
                <a th:href="@{'/Forms/addMark:form=' +
                ${form_id} +':subject=' + ${subject.getId()}
                + ':student=' + ${subject.getStudent_id()}}">+</a>
                </span>
            <span class="mark">
                <p th:text="${subject.getMedium_mark()}"></p>
            </span>
        </td>
        <td class = "marks-column">
            <span class="empty-marks" th:if="${subject.getMarks().isEmpty()}">
                Нет оценок
            </span>
            <span class="mark" th:each="mark : ${subject.getMarks()}">
                <a th:href="@{'/Forms/editMark:form=' + ${form_id} +
                ':subject=' + ${subject.getId()} + ':student='
                + ${subjectsAndMarks.getStudent_id()} + ':mark='
                + ${mark.getKey()}}" th:text="${mark.getValue()}">mark</a>
            </span>
        </td>
    </tr>
</table>

</body>
</html>